/* *******Class Selectors ****************** */


.about-me {
  background-color: #FEFF86;
}
.attri {
  font-size: 1rem;
}
.bottom-container {
  margin-top: 2%;
  background-color: lightblue;
}
.borders-table {
  border-color: aliceblue;
  border-width: 10px;
  border-style: groove;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  width: 70%;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #1f8f80);
  background-image: -moz-linear-gradient(top, #3498db, #1f8f80);
  background-image: -ms-linear-gradient(top, #3498db, #1f8f80);
  background-image: -o-linear-gradient(top, #3498db, #1f8f80);
  background-image: linear-gradient(to bottom, #3498db, #1f8f80);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Verdana';
  color: #66BFBF;
  font-size: 1.4rem;
  padding: 10px 20px 10px 20px;
  text-decoration: underline;
}

.btn:hover {
  background: #196899;
  background-image: -webkit-linear-gradient(top, #196899, #3498db);
  background-image: -moz-linear-gradient(top, #196899, #3498db);
  background-image: -ms-linear-gradient(top, #196899, #3498db);
  background-image: -o-linear-gradient(top, #196899, #3498db);
  background-image: linear-gradient(to bottom, #196899, #3498db);
  text-decoration: underline;
}
.body {
  background-color: white;
}
.borders-table {
  border-style: groove;
}
.borders-table td {
  border-style: solid;
  border-width: 5px;
  border-color:#196899;
  min-height: 150px;
  min-width: 200px;
}
.cloud2 {
  position: absolute;
  display: inline-block;
  width: 20%;
}
.contact-me {
  background-color: lightblue;
}
.content-mygoals {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.computer-img {
  width: fit-content;
}

.css-attr {
  position: relative;
  display: block;
  left: 100px;
}
.css-logo {
  /* display: block; */
  height: 30%;
  width: 30%;
}
.ending-credentials {
  color: #11999E;
}
.face {
  display: inline-block;
  min-width: 250px;
  min-height: 250px;
  position: relative;
  right: 30%;
  width: 30%;
}
.glasses {
  border-color: white;
  border-width: 10px;
  border-style: solid double;
  min-width: 400px;
  min-height: 400px;
  width: 40%;
  height: 40%;
  margin: 10%;
}
.h1 {
  font-family: 'Brush Script MT', 'Alkatra', 'Sacramento', serif;
  /* To scale the image with the user settings use % or em instead of pixels
  Font: 1em = 100% = 16px; */
  font-size: 5.62rem;
  line-height: 2em;
  /* margin: top right left bottom; */
  /* auto means center */
}
.html-attr {
  display: inline-block;
  text-align: left;
  position: relative;
}
.html-logo {
  
  height: 40%;
  
  width: 40%;
}
.img-size {
  display: block;
  height: 200px;
  margin: auto auto;
  position: relative;
  width: 200px;
}
.inline {
  display: inline;
  position: relative;
  right: 150px;
}
.line {
  border-style: solid;
  border-color: green;
  border-top-width: 10px;
  border-bottom-width: 10px;
  padding: 0;
  width: 100%;
}
.linux-attri {
  font-size: 0.5rem;
}
.linux-logo {
  /* float: right; */
  margin-top: 5%;
  width: 40%;
}
.medium {
  height: 60%;
  width: 60%;
  margin-right: 8%;
  padding: 20px;

}
.mountain {
  width: 75%;
  height: 75%;
}
.middle-container {
  display: block;
  background-color: white;
  line-height: 2rem;
  text-align: center;
}
.my-ed {
  text-align: justify;
}

.passman {
  border-style: groove;
  border-width: 20px;
  margin: 15px;
  width: 70%;
  height: 40%;
}

.pro {
  color: #66BFBF;
  font-family: 'Montserrat', serif;
  text-decoration: underline;
}
.project-item {
  margin-top: 5%;
  margin-bottom: 5%;
}
.profile {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 2rem;
  text-align: center;
}
.python-logo {
  display: inline;
  position: relative;
  margin: auto auto;
  width: 30%;
  height: 30%;
}
.skill-row {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 4rem;
}
.skills-table {
  border-style: solid;
  border-color: rgb(12, 106, 189);
  border-width: 5px;
  width: 100%;
}
.skills-table ul li{
  border-spacing: max(15px, 2%);
}
.skills-table tr td {
  border-color: #11999E;
  border-width: 5px;
  border-style: solid;
}
.sunset {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 15%;
  width: 20%;
  visibility: visible;
}
.top-text {
  position: relative;
  background-color: lightblue;
}
.two-columns {
  column-span: 2;
}
.workout {
  border-style: groove;
  border-width: 20px;
  margin: 15px;
  min-width: 300px;
  min-height: 200px;
  max-width: 100%;
  max-height: 70%;
}

/* *******************IDs********************** */
#h2-goals {
  padding-top: 20px;
}
#thinker {
  border-color: brown;
  border-style: double;
  border-width: 10px;
  min-width: 600px;
  min-height: 400px;
  width: 70%;
  height: 70%;
}
#wild_beach {
  border-color: brown;
  border-style:outset;
  border-top-width: 10px;
  border-bottom-width: 10px;
  width: 90%;
  height: 90%;
}
/* *******************Element Selectors******** */
/* #B8FFD0 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: #11999E;
}
body {
  text-align: center;
  /* background-color: lightblue; */
  margin: 0;
}

h1 {
  color: #66BFBF;
  font-family: 'Alkatra', 'Sacramento', serif;
  line-height: 2;
}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', 'Alkatra', 'Sacramento', serif;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 30px;
}
h3 {
  font-family: 'Montserrat', serif;
  color: #11999E;
  margin-top: 30px;
  margin-bottom: 30px;
}
h4 {
  font-family: Verdana, serif;
  font-size: 1rem;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-top-width: 10px;
  border-bottom-width: 10px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 10%;
}
li {
  font-family: Verdana, serif;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 2;
  text-align: left;
}
p {
  font-family: Verdana, 'Merriweather', serif;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
span {
  font-family: Verdana, 'Merriweather', serif;
  color: #11999E;
}
td {
  vertical-align: top;
  margin: 10px;
}
ul {
  margin-left: 5%;
}
